In [ ]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [ ]:
#importar dados
dataset = pd.read_csv("../dados/Churn.csv", sep=";")
dataset.head()

In [ ]:
dataset.shape

In [ ]:
# dando nome as colunas
dataset.columns = ['id', 'score', 'estado', 'genero', 'idade', 'patrimonio', 'saldo', 'produtos', 'temCartaoCredito', 'ativo', 'salario', 'saiu']
dataset.head()

In [ ]:
# Exploracao de dados Categoricos
agrupado = dataset.groupby(['estado']).size()
agrupado

In [ ]:
agrupado.plot.bar()

In [ ]:
agrupado = dataset.groupby(['genero']).size()
agrupado

In [ ]:
agrupado.plot.bar()

In [ ]:
# Exploracao de colunas numericas
dataset['score'].describe()

In [ ]:
srn.boxplot(dataset['score']).set_title('Score')

In [ ]:
srn.histplot(dataset[('score')])

In [ ]:
dataset['idade'].describe()

In [ ]:
srn.boxplot(dataset[('idade')])

In [ ]:
srn.histplot(dataset[('idade')])

In [ ]:
dataset['saldo'].describe()

In [ ]:
srn.boxplot(dataset['saldo'])

In [21]:
srn.histplot(dataset['saldo'])

In [23]:
dataset['salario'].describe()

In [24]:
srn.boxplot(dataset['salario'])

In [25]:
srn.histplot(dataset['salario'])

In [26]:
# valores nulos
dataset.isnull().sum()

In [27]:
mediana = sts.median(dataset['salario'])
mediana

In [28]:
# substituir nan por mediana
dataset['salario'].fillna(mediana, inplace=True)

In [29]:
# verificar pra ver se existe valores nulo em salario
dataset['salario'].isnull().sum()

In [30]:
# verificar genero
agrupado = dataset.groupby(['genero']).size()
agrupado

In [31]:
dataset['genero'].isnull().sum()

In [33]:
# preencher com masculino os valores nulos
dataset['genero'].fillna('Masculino', inplace=True)

In [35]:
# verificando
dataset['genero'].isnull().sum()

np.int64(0)