In [ ]:
# importar usar o sql3
import sqlite3

# 1. Conectar ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

# 2. Criar uma tabela
cursor.execute('''
CREATE TABLE IF NOT EXISTS Persons (
    PersonID INT PRIMARY KEY,
    LastName TEXT NOT NULL,
    FirstName TEXT NOT NULL,
    City TEXT
);
''')

# 3. Inserir dados
cursor.execute('''
INSERT INTO Persons (PersonID, LastName, FirstName, City)
VALUES (1, 'Doe', 'John', 'New York');
''')

# 4. Salvar as mudanças
conn.commit()

# 5. Consultar dados
cursor.execute('SELECT * FROM Persons')
resultados = cursor.fetchall()

# Exibir resultados
for linha in resultados:
    print(linha)

# 6. Fechar a conexão
conn.close()

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('meu_banco.db')

In [ ]:
# Criar tabela
conn.execute('''
CREATE TABLE IF NOT EXISTS Persons (
    PersonID INT PRIMARY KEY,
    LastName TEXT NOT NULL,
    FirstName TEXT NOT NULL,
    City TEXT
);
''')

In [ ]:
#  Inserir valores
conn.execute('''
INSERT INTO Persons (PersonID, LastName, FirstName, City)
VALUES (1, 'Doe', 'John', 'New York');
''')
conn.commit()

In [ ]:
# MOstrar valores
cursor = conn.execute('SELECT * FROM Persons')
resultados = cursor.fetchall()

for linha in resultados:
    print(linha)

In [ ]:
# Atualizar dados
cursor.execute('''
UPDATE Persons
SET City = 'Miami'
WHERE PersonID = 1;
''')

# Salvar (commit) as mudanças
conn.commit()

In [ ]:
# Excluir dados

cursor.execute('''
DELETE FROM Persons
WHERE PersonID = 3;
''')

# Salvar (commit) as mudanças
conn.commit()

In [ ]:
# Filtrar resultados
cursor.execute('''
SELECT * FROM Persons
WHERE City = 'New York';
''')

resultados = cursor.fetchall()

# Exibir resultados
for linha in resultados:
    print(linha)

In [ ]:
# Contar registros
cursor.execute('SELECT COUNT(*) FROM Persons')
resultado = cursor.fetchone()

# Exibir resultado
print(f'Número de registros: {resultado[0]}')

In [ ]:
# Selecionar valores únicos
cursor.execute('SELECT DISTINCT City FROM Persons')
resultados = cursor.fetchall()

# Exibir resultados
for linha in resultados:
    print(linha[0])

In [ ]:
# Limitar resultados
cursor.execute('SELECT * FROM Persons LIMIT 2')
resultados = cursor.fetchall()

# Exibir resultados
for linha in resultados:
    print(linha)